@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

header .dx-box,
header .sx-box {
    font-size: 25px;
    color: #000;
    cursor: pointer;
    margin: 20px;
}

header .dx-box i {
    margin-right: 5px;
}

header .title {
    font-size: 23px;
}

main .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.cards {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 42px;
}

.cards li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cards img {
    display: none;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
}

.cards img.active {
    display: block;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -42px;
    position: relative;
}

.product img {
    width: 50vw;
    height: calc(50vh - 40px);
    object-fit: cover;
}

.product .price,
.product .short-desc {
    font-size: 13px;
    text-align: left;
    height: 15px;
    overflow: hidden;
    font-weight: 500;
    color: #000000a9;
    padding: 0px 35px;
    width: calc(100% - 70px);
    position: relative;
    top: -55px;
    background-color: rgba(255, 255, 255, 0.747);
}

.product .price {
    font-weight: bold;
    font-size: 11px;
}

.ellipsis {
    font-size: 16px;
    text-align: right;
    text-overflow: ellipsis;
    height: 15px;
    overflow: hidden;
    font-weight: 600;
    color: #000000a9;
    padding: 0px 10px;
    width: calc(100% - 20px);
    position: absolute;
    bottom: 72px;
    right: 10px;
}

#menu-toggle {
    font-size: 30px;
    cursor: pointer;
    margin: 20px;
    text-decoration: none;
    color: #000;
}

#close-sidebar {
    font-size: 40px;
    left: -10px;
    position: relative;
    color: #000;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ffffff3f;
    box-shadow: 0 0 3px #00000028;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    left: -290px;
    transition: left 0.3s ease;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.sidebar.show {
    left: 0;
}

.content {
    margin-left: 20px;
}

.sidebar .submenu {
    display: none;
    margin-top: 10px;
}

.sidebar .submenu li {
    margin: 10px 0;
    padding-left: 10px;
}

.sidebar.show {
    left: 0;
}

.search-container {
    padding: 20px;
}

input[type="text"] {
    padding: 4px 20px;
    border: 1px solid #0000008f;
    border-radius: 1px;
    font-size: 16px;
    color: #000;
    font-family: "Montserrat", sans-serif;
    outline: none;
}

button {
    padding: 5px 5px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 1px;
    left: -5px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 570px) {
    input[type="text"] {
        padding: 4px 20px;
        width: 100px !important;
        border: 1px solid #0000008f;
        border-radius: 1px;
        font-size: 16px;
        color: #000;
        font-family: "Montserrat", sans-serif;
        outline: none;
    }
}

.favorite-button {
    top: 10px;
    right: calc(100% - 50px);
    color: #000;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100%;
    position: absolute; 
    z-index: 99;
}
